body, html {
    height: 100%;
    margin: 0;
}
.main-bg {
    background: linear-gradient(135deg, #155270 0%, #357ba6 100%);
    min-height: 100vh;
}
.sidebar {
    min-height: 100vh;
}
.card {
    border-radius: 20px;
}
#task-list .completed {
    text-decoration: line-through;
    color: #888;
}
.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-input {
    width: 60%;
    margin-right: 10px;
}
